<NaviFirmEx version="1.6" lang="English.xml">
    <Window>
        <MainGUI left="1055" top="16" right="1921" bottom="346" maxed="0">
            <Color begin="#DADCF8" end="#C0DACE" />
            <Font>
                <Data value="-11|0|0|0|400|0|0|0|0|3|2|1|49" />
                <Name value="Courier New" />
                <Color value="#000000" />
            </Font>
        </MainGUI>
        <TaskMgr left="0" top="0" right="0" bottom="0" maxed="0" />
    </Window>
    <Download>
        <Server>0</Server>
        <Folder>C:\users\zuserm\My Documents\Code\n9\flashing\firmware\</Folder>
        <Prompt>
            <Exit action="1" ask="1" />
            <Continue action="1" ask="1" />
        </Prompt>
        <TaskMgr show="1" />
    </Download>
    <Proxy type="0">
        <addr value="" />
        <port value="0" />
        <usr value="" />
        <pwd value="" />
    </Proxy>
</NaviFirmEx>
