[Desktop Entry]
Name=remote seek -10
Comment=klomp-cmd
Icon=icon-m-toolbar-mediacontrol-backwards-white
Exec=udo remote-klomp-cmd seek -10
Type=Application
