AlarmNotification MLabelStyle#CommonQueryTitle
{
	font: $FONT_FAMILY bold 64px;
	margin-bottom: 12px;
}

AlarmNotification MLabelStyle#CommonQueryText
{
	font: $FONT_FAMILY_LIGHT 32px;
	margin-left: 42px;
	margin-right: 42px;
}

AlarmNotification MButtonStyle#AlarmNotificationButtonStop
{
        font: $FONT_FAMILY bold 32px;
        text-color: #FFFFFF;
        preferred-size: 408px 64px;
        minimum-size: 408px 64px;
        maximum-size: 408px 64px;
			

        background-image: meegotouch-dialog-button-positive $CORNER_MARGINS;
        margin-bottom: 0px;
        margin-top: 36px;
	border: 32px;
}

AlarmNotification MButtonStyle#AlarmNotificationButtonStop:pressed
{
        background-image: meegotouch-dialog-button-positive-pressed $CORNER_MARGINS;
        text-color: #797979;
}

AlarmNotification MButtonStyle#AlarmNotificationButtonSnooze
{
        font: $FONT_FAMILY bold 32px;
        text-color: #FFFFFF;
        preferred-size: 408px 64px;
        minimum-size: 408px 64px;
        maximum-size: 408px 64px;

        background-image: meegotouch-dialog-button-negative $CORNER_MARGINS;
        margin-bottom: 0px;
        margin-top: 40px;
	border: 32px;
}

AlarmNotification MButtonStyle#AlarmNotificationButtonSnooze:pressed
{
        background-image: meegotouch-dialog-button-negative-pressed $CORNER_MARGINS;
        text-color: #797979;
}
