/* Common view styles */
LockScreenStyle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
    description-image-update-interval: 20;
    event-fade-duration: 75;
    action-label-maximum-height: 15mm;
    action-label-minimum-height: 11mm;
    action-label-initial-curve: outquart;
    action-label-initial-animation-duration: 550;
    action-label-end-curve: outexpo;
    action-label-end-animation-duration: 350;
    action-label-breathe-down-curve: inoutquart;
    action-label-breathe-up-curve: outquart;
    action-label-breathe-down-animation-duration: 1600;
    action-label-breathe-up-animation-duration: 550;
    action-label-breathing-animation-pause-duration: 200;
    action-label-breathe-resume-delay: 400;
    action-label-swipe-fade-curve: inquart;
    action-label-breathe-frame-rate: 45;
    primary-action-animation-curve: linear;
    primary-action-animation-duration: 250;
    primary-action-swipe-length: 24mm;
    secondary-action-animation-curve: outcubic;
    secondary-action-animation-duration: 200;
    description-image-animation-curve: outcubic;
    description-image-animation-duration: 200;
    bounce-animation-from-edge-duration: 150;
    bounce-animation-to-edge-duration: 600;
    bounce-animation-from-edge-easing-curve: outexpo;
    bounce-animation-to-edge-easing-curve: inoutquart;
    bounce-animation-horizontal-move-delta: 30;
    bounce-animation-inactive-border: 5mm;
    fade-out-curve: linear;
    fade-out-duration: 250;
    action-frame-rate: 30;
}

LockScreenBackgroundPixmapStyle {
    default-background-image: "meegotouch-wallpaper-portrait";
    corner-top-left: "meegotouch-lockscreen-corner-top-left";
    corner-top-right: "meegotouch-lockscreen-corner-top-right";
    corner-bottom-left: "meegotouch-lockscreen-corner-bottom-left";
    corner-bottom-right: "meegotouch-lockscreen-corner-bottom-right";
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

/* Low power mode style */
LockScreenLowPowerModeStyle {
    animation-interval: 180000;
    animation-delay: 30000;
    content-initial-top-margin: 6.8mm;
    content-initial-right-margin: 1.5mm;
}

LockScreenLowPowerModeStatusAreaStyle {
    minimum-size: -1 4.0mm;
}

LockScreen StatusIndicatorIconStyle#ProfileStatusIndicatorSilent {
    image-list: "icon-m-low-power-mode-silent";
}

NotificationIconAreaStyle {
    max-icons: 5;
    icon-spacing: 0.8mm;
}

LockScreen ScreenLockClockStyle#LockScreenLowPowerModeClock {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    time-format: "%R";
    short-remove-am-pm-indicator: false;
    horizontal-align: right;
}
LockScreen ScreenLockClockStyle#LockScreenLowPowerModeClock:twelve-hour {
    time-format: "%r";
    short-remove-am-pm-indicator: true;
}
LockScreen MLabelStyle#LockScreenLowPowerModeClockLabel {
    font: $FONT_FAMILY_LIGHT 10mm;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    /* This is to compensate for the font causing vertical misalignment */
    margin-top: -1.7mm;
    margin-bottom: 1.7mm;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: -1 11.4mm;
    minimum-size: -1 11.4mm;
    maximum-size: -1 11.4mm;
}

LockScreen MImageWidgetStyle#LockScreenLowPowerModeOperatorLogo {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6mm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    maximum-size: 120mm 120mm;
}

LockScreen MImageWidgetStyle#LockScreenLowPowerModeOperatorLogoHidden {
    minimum-size: 0 0;
    preferred-size: 0 0;
    maximum-size: 0 0;
}

/* Padlockless view styles */
LockScreenHeaderStyle {
    background-image: "meegotouch-lockscreen-top";
    padding-top: 0;
    padding-bottom: 5mm;
    minimum-size: 100% 24.5mm;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    fade-duration: 250;
}

LockScreenStatusAreaStyle {
    minimum-size: 100% 3.6mm;
    preferred-size: 100% 3.6mm;
    maximum-size: 100% 3.6mm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.4mm;
    padding-right: 0.4mm;
    padding-top: 0.4mm;
    padding-bottom: 0;
    publish-geometry: false;
    fade-duration: 75;
}

LockScreenHeader ScreenLockClockStyle#LockScreenHeaderClock {
    margin-left: 0;
    margin-right: 1.5mm;
    margin-top: 5.1mm;
    margin-bottom: 1.7mm;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    time-format: "%R";
    short-remove-am-pm-indicator: false;
    horizontal-align: right;
}
LockScreen ScreenLockClockStyle#LockScreenHeaderClock:twelve-hour {
    time-format: "%r";
    short-remove-am-pm-indicator: true;
}
LockScreen MLabelStyle#LockScreenHeaderClockLabel {
    font: $FONT_FAMILY_LIGHT 10mm;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: -1 11.4mm;
    minimum-size: -1 11.4mm;
    maximum-size: -1 11.4mm;
}

LockScreen DateStyle {
    date-format:;
    horizontal-align: right;
    margin-top: -1.0mm;
}

LockScreen MLabelStyle#DateLabel {
    font: $FONT_FAMILY normal 2.2mm;
    color: #ffffff;
    margin-left: 0;
    margin-right: 1.7mm;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: -1 2.4mm;
    minimum-size: -1 2.4mm;
    maximum-size: -1 2.4mm;
}

MusicPlayerStyle {
    minimum-size: 100% -1;
    maximum-size: 100% -1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MusicPlayer MLabelStyle#MusicPlayerSongTitleLabel {
    font: $FONT_FAMILY bold 4.8mm;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5.2mm;
    margin-bottom: 0;
    padding-left: 3.0mm;
    padding-right: 3.0mm;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

MusicPlayer MLabelStyle#MusicPlayerArtistNameLabel {
    font: $FONT_FAMILY normal 2.4mm;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0.7mm;
    padding-left: 3.0mm;
    padding-right: 3.0mm;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

MusicPlayer MButtonStyle#MusicPlayerPreviousButton {
    icon-id: "icon-m-lockscreen-mediacontrol-previous";
    icon-size: 2.4mm 2.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    margin-left: 0;
    margin-right: 1.8mm;
    margin-top: 0;
    margin-bottom: 0;
}
MusicPlayer MButtonStyle#MusicPlayerPreviousButton:pressed {
    icon-id: "icon-m-lockscreen-mediacontrol-previous-selected";
}
MusicPlayer MButtonStyle#MusicPlayerPreviousButton:disabled {
    icon-id: "icon-m-lockscreen-mediacontrol-previous-dimmed";
}

MusicPlayer MButtonStyle#MusicPlayerPlayButton {
    icon-id: "icon-m-lockscreen-mediacontrol-play";
    icon-size: 2.4mm 2.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    margin-left: 0;
    margin-right: 1.8mm;
    margin-top: 0;
    margin-bottom: 0;
}
MusicPlayer MButtonStyle#MusicPlayerPlayButton:pressed {
    icon-id: "icon-m-lockscreen-mediacontrol-play-selected";
}
MusicPlayer MButtonStyle#MusicPlayerPlayButton:disabled {
    icon-id: "icon-m-lockscreen-mediacontrol-play-dimmed";
}

MusicPlayer MButtonStyle#MusicPlayerPauseButton {
    icon-id: "icon-m-lockscreen-mediacontrol-pause";
    icon-size: 2.4mm 2.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    margin-left: 0;
    margin-right: 1.8mm;
    margin-top: 0;
    margin-bottom: 0;
}
MusicPlayer MButtonStyle#MusicPlayerPauseButton:pressed {
    icon-id: "icon-m-lockscreen-mediacontrol-pause-selected";
}
MusicPlayer MButtonStyle#MusicPlayerPauseButton:disabled {
    icon-id: "icon-m-lockscreen-mediacontrol-pause-dimmed";
}

MusicPlayer MButtonStyle#MusicPlayerStopButton {
    icon-id: "icon-m-lockscreen-mediacontrol-stop";
    icon-size: 2.4mm 2.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    margin-left: 0;
    margin-right: 1.8mm;
    margin-top: 0;
    margin-bottom: 0;
}
MusicPlayer MButtonStyle#MusicPlayerStopButton:pressed {
    icon-id: "icon-m-lockscreen-mediacontrol-stop-selected";
}
MusicPlayer MButtonStyle#MusicPlayerStopButton:disabled {
    icon-id: "icon-m-lockscreen-mediacontrol-stop-dimmed";
}

MusicPlayer MButtonStyle#MusicPlayerNextButton {
    icon-id: "icon-m-lockscreen-mediacontrol-next";
    icon-size: 2.4mm 2.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    margin-left: 0;
    margin-right: 1.2mm;
    margin-top: 0;
    margin-bottom: 0;
}
MusicPlayer MButtonStyle#MusicPlayerNextButton:pressed {
    icon-id: "icon-m-lockscreen-mediacontrol-next-selected";
}
MusicPlayer MButtonStyle#MusicPlayerNextButton:disabled {
    icon-id: "icon-m-lockscreen-mediacontrol-next-dimmed";
}

MusicPlayer MSpinnerStyle#MusicPlayerProgressIndicator {
    base-image-size: $SIZE_SPINNER_SMALL;
    base-image-name: "spinnerinverted";
    margin-top: 2.0mm;
    margin-bottom: 2.0mm;
    margin-left: 2.0mm;
    margin-right: 2.0mm;
    minimum-size: 2.4mm 2.4mm;
    preferred-size: 2.4mm 2.4mm;
    maximum-size: 2.4mm 2.4mm;
}

/* Notification Area */
LockScreen LockScreenNotificationAreaStyle#LockScreenNotificationArea {
    /* The minimum height should be at least the height of max-banners banners
     * (+ the space between them) and the AndMore widget */
    minimum-size: 100% 44.0mm;
    maximum-size: 100% -1;
    clear-button: false;
    max-banners: 3;
}

LockScreen LockScreenNotificationAreaStyle#HiddenNotificationArea {
    minimum-size: 100% 0;
    maximum-size: 100% 0;
    clear-button: false;
    max-banners: 3;
}

LockScreen MWidgetStyle#AndMore {
    maximum-size: 100% 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

LockScreen MWidgetStyle#AndMoreVisible {
    background-image: "meegotouch-lockscreen-bottom";
    minimum-size: 100% 5mm;
    preferred-size: 100% 5mm;
    maximum-size: 100% 5mm;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

LockScreen MLabelStyle#AndMoreLabel {
    font: $FONT_FAMILY light 1.8mm;
    color: #ffffff;
    minimum-size: -1 4mm;
    preferred-size: -1 4mm;
    maximum-size: -1 4mm;
    margin-top: 1mm;
    margin-right: 2.4mm;
}

DismissNotificationTransitionStyle {
    dismiss-threshold: 120;
    lock-screen-max-offset: 160;
    lock-screen-min-offset: 30;
    exit-min-velocity: 2;
    exit-acceleration: 1.3;
    delta-factor: 0.3333;
    delta-threshold: 0.5;
    start-feedback: priority2_popup;
}

ColoredBackgroundLabelStyle {
    background-image: "meegotouch-lockscreen-slidehint" 0 0 10 0;
    press-feedback: priority2_popup;
    /* For some reason the press feedback is not played on the very edge of the screen without this */
    reactive-margin-bottom: 1;
    corner-bottom-left:  "meegotouch-lockscreen-corner-bottom-left";
    corner-bottom-right: "meegotouch-lockscreen-corner-bottom-right";
}

ColoredBackgroundLabel MLabelStyle {
    minimum-size: 0 0;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ColoredBackgroundLabel MLabelStyle#PrimaryLabel {
    padding-top: 1.8mm;
    font: $FONT_FAMILY bold 3.6mm;
    horizontal-alignment: center;
}

ColoredBackgroundLabel MLabelStyle#SecondaryLabel {
    margin-top: 1mm;
    font: $FONT_FAMILY bold 2.2mm;
    horizontal-alignment: center;
}

ColoredBackgroundLabel MLabelStyle#PrimaryEmptyPrimaryLabel {
    minimum-size: -1 0;
    preferred-size: -1 0;
    maximum-size: -1 0;
}

ColoredBackgroundLabel MLabelStyle#PrimaryEmptySecondaryLabel {
    font: $FONT_FAMILY bold 2.6mm;
    horizontal-alignment: center;
}

LockScreen MImageWidgetStyle#EventPixmapVisible {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    press-feedback: priority2_popup;
}

LockScreen StatusIndicatorIconStyle#ChargingStatusIndicator {
    image-list: "";
    preferred-size: 0 -1;
    minimum-size: 0 -1;
    maximum-size: 0 -1;
}

LockScreen StatusIndicatorIconStyle#ChargingStatusIndicatorCharging {
    image-list: "icon-m-low-power-mode-charging-0 icon-m-low-power-mode-charging-1 icon-m-low-power-mode-charging-2 icon-m-low-power-mode-charging-3 icon-m-low-power-mode-charging-4";
    preferred-size: -1 -1;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
}

LockScreen StatusIndicatorIconStyle#ChargingStatusIndicatorChargingFailed {
    image-list: "icon-m-low-power-mode-insufficient-power";
    preferred-size: -1 -1;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
}

LockScreen StatusIndicatorIconStyle#ChargingStatusIndicatorBatteryFull {
    image-list: "icon-m-low-power-mode-remove-charger";
    preferred-size: -1 -1;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
}

NotificationArea MBasicLayoutAnimationStyle {
    duration: 400;

    y-translation-easing-curve: overshotbezier;

    animate-opacity: true;
    opacity-easing-curve: overshotbezier;
    initial-showing-opacity: 0.0;
    final-hiding-opacity: 0.0;
}

WidgetScaleAnimationStyle {
    duration: 400;
    easing-curve: overshotbezier;
    scale: 0.5;
}
