[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=fennec-qml
StartupWMClass=Navigator
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
Exec=/usr/bin/qmlMozEmbedTest -url https://www.google.com
Icon=/usr/share/themes/blanco/meegotouch/icons/fennec-qml.png
Categories=X-MeeGo;
OnlyShownIn=X-MeeGo;
MimeType=x-maemo-urischeme/http;x-maemo-urischeme/https;x-maemo-urischeme/ftp;x-maemo-urischeme/file;text/html;x-maemo-highlight/ftp-url;x-maemo-highlight/http-url;
X-Osso-Type=application/x-executable

[X-Osso-URI-Actions]
http=X-Osso-URI-Action-Open
https=X-Osso-URI-Action-Open
ftp=X-Osso-URI-Action-Open
file=X-Osso-URI-Action-Open

[X-Osso-URI-Action-Open]
Method=load_url
Name=uri_link_open_link
TranslationDomain=osso-uri
