[Desktop Entry]
Name=dcim reindex
Comment=Reindex tracker for DCIM/*.*
Icon=dcim-reindex
Exec=udo term -r -e 'tracker-pix /home/user/MyDocs/DCIM/'
Type=Application
