[Desktop Entry]
Name=dcim reindex
Comment=Reindex tracker for DCIM/*.*
Icon=dcim-reindex
Exec=udo term -r -e 'tracker-index /home/user/MyDocs/DCIM/*.*; echo OK'
Type=Application
