[Desktop Entry]
Encoding=UTF-8
Version=0.5
Type=Application
Terminal=false
Name=CameraPro
Exec=invoker --single-instance --type=e /opt/CameraPro/bin/CameraPro
Icon=/usr/share/icons/hicolor/64x64/apps/CameraPro.png
X-Window-Icon=/usr/share/icons/hicolor/64x64/apps/CameraPro.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
