[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=DingMee
Exec=/usr/bin/invoker --splash=/opt/dingmee/splash.jpg --type=d -s /opt/dingmee/bin/dingmee
Icon=/usr/share/icons/hicolor/80x80/apps/dingmee80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
