[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=GConfik
Exec=/usr/bin/invoker --single-instance --splash /usr/share/gconfik/splash.png --type=d -s /opt/gconfik/bin/gconfik
Icon=/usr/share/icons/hicolor/80x80/apps/gconfik80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
