[Desktop Entry]
Encoding=UTF-8
Version=2.0.2
Type=Application
Terminal=false
Name=Public Transport
Name[ar]=النقل العام
Name[bg]=Обществен транспорт
Name[ca]=Transport públic
Name[cs]=Veřejná doprava
Name[da]=Offentlig transport
Name[de]=Bus & Bahn
Name[el]=Μέσα μαζικής μεταφοράς
Name[en]=Public Transport
Name[en_CN]=Public Transport
Name[en_HK]=Public Transport
Name[en_TH]=Public Transport
Name[en_TW]=Public Transport
Name[en_US]=Public Transit
Name[es]=Transporte público
Name[es_419]=Transporte público
Name[et]=Ühistransport
Name[eu]=Garraio publikoa
Name[fa]=سرویس حمل و نقل عمومی
Name[fi]=Julkinen liikenne
Name[fr]=Transports en commun
Name[fr_CA]=
Name[gl]=Transporte público
Name[he]=תחבורה ציבורית
Name[hi]=सार्वजनिक यातायात
Name[hr]=Javni prijevoz
Name[hu]=Tömegközlekedés
Name[id]=Transportasi Umum
Name[is]=Almenningssamgöngur
Name[it]=Trasporti pubblici
Name[ja]=公共交通機関
Name[kk]=Қоғамдық көлік
Name[ko]=대중교통
Name[lt]=Viešasis transportas
Name[lv]=Sabiedriskais transports
Name[ms]=Pengangkutan Awam
Name[nb]=Offentlig transport
Name[nl]=Openbaar vervoer
Name[pl]=Transport publiczny
Name[pt]=Transportes públicos
Name[pt_BR]=Transporte público
Name[ro]=Transport public
Name[ru]=Общественный транспорт
Name[sk]=Verejná doprava
Name[sl]=Javni prevoz
Name[sr]=Gradski prevoz
Name[sv]=Kollektivtrafik
Name[th]=ขนส่งสาธารณะ
Name[tl]=Public Transport
Name[tr]=Toplu Taşıma
Name[uk]=Громадський транспорт
Name[ur]=پبلک ٹرانسپورٹ
Name[vi]=Giao thông Công cộng
Name[zh]=公共交通
Name[zh_HK]=公共運輸
Name[zh_TW]=公共運輸
#FIXME: make app a lib for harmattan app-booster and use type d
Exec=invoker --splash /opt/NokiaPt/images/splashScreenIcon.png --single-instance --type=e /opt/NokiaPt/bin/NokiaPt
Icon=/usr/share/icons/hicolor/80x80/apps/NokiaPt80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
