[Desktop Entry]
Name=qtbtn-klomp
Comment=QT Button menu for klomp
Icon=icon-m-content-playlist-inverse
Exec=qtbtn.py /home/user/.config/qtbtn-klomp.conf
Type=Application
